@{
    ViewBag.Title = "ProcessEdit";
    string drm;
}

@model IEnumerable<YPYA.Models.Surec>

    @section ustBaslik{
    <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" id="proje" projeid="@ViewBag.projeId" href="~/Project/Index/@ViewBag.projeId">
        <span>@ViewBag.projeAdi</span>
    </a>
    }

    @section pagestyle{
    <style>
        .main-panel > .header {
            color: #fff !important;
            background-color: #f32c1e !important;
        }

        .main-panel > .main-content > .content-view {
            padding: 0px !important;
        }

        .main-process {
            padding: 12px !important;
        }

        .proces {
            padding: 5px 43px !important;
        }

        .sub-process {
            padding: 5px 74px !important;
        }

        .notification-bar-icon {
            width: 1.5rem;
            height: 1.5rem;
        }

        .notification-bar-icon div {
            width: 1.8rem;
            height: 1.8rem;
        }

        .notification-bar-icon i {
            top: 78%;
            width: 1rem;
            height: 1rem;
            left: 78%;
        }

        .main-process .notification-bar-icon i {
            background-color: #7fc35c;
        }

        .proces .notification-bar-icon i {
            background-color: #d26d54;
        }

        .sub-process .notification-bar-icon i {
            background-color: #4cc3f0;
        }

        .content-footer {
            display: none !important;
        }

        .main-content {
            overflow-y: hidden !important;
        }

        tbody tr th {
            padding-top: 24px !important;
        }
        .btnSil{
             position: absolute;
            right: 0;
            margin-right: 14px;
            margin-top: 2px;
            color:red;
            width:10px;
            height:10px;
        }
        output {
            display: block;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            margin: 30px 0;
            width: 100%;
        }
    </style>
    <link href="~/Content/styles/rangeSlider-flat.css" rel="stylesheet" />

    }

    @section menu{
    @Html.Action("ProjectMenu", "Project", new { id = ViewBag.projeId })
    }

    @section script{

    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script type="text/javascript">
        $(function () {

            var parentId = 0, tip = 0;
            $(".anaEkran").hide();

            function noti(message, type, pos) {
                var msg = message,
                  type = type.toLowerCase(),
                  position = pos;
                noty({
                    theme: 'app-noty',
                    text: msg,
                    type: type,
                    timeout: 3000,
                    layout: position,
                    closeWith: ['button', 'click'],
                    animation: {
                        open: 'animated fadeInDown', // Animate.css class names
                        close: 'animated fadeOutUp', // Animate.css class names
                    }
                });
            }




            function bosGecme(deger,deger2,deger3) {
                if (deger.length > 0 && deger2.length > 0 && deger3.length > 0) return true;
                else if (deger.length == 0 && deger2.length == 0 && deger3.length == 0) return true;
                else return false;
            }

            function temizle() {
                $("option#kisi").each(function () {
                    $(this).remove("option#kisi")
                });
                $("input[type=date]").val('');
                $("div.ui-slider-range").css("width", "0");
                $("span.ui-slider-handle").css("left", "0");
                $("#surecBaslik").val("");
                $("#projeAdi").val("");
                $("#sureciOlusturan").val("");
                $("#surecTamamlama").val("");
                $("#not").val("");
            }


            var surecID;

            $('.slider').each(function () {
                var data = $(this).data();
                $(this).slider(data);
            });
            $(".app").addClass("expanding");


            $(".surec").click(function () {

                temizle();

                console.log("tıklama");
                var projeID = $("a#proje").attr("projeid");

                surecID = $(this).attr("id");
                $("#RaporGit").attr("href", "/Project/Report/" + surecID);
                $("#surecSil").attr("surecID", surecID);
                $(".akisSil").attr("surecID",surecID);
                $("#isTakibiKaydet").attr("surecID", surecID);

                if ($(this).attr("proces") == "mainProces") {
                    tip = 0;
                    parentId = projeID;

                } else {
                    tip = 1;
                    parentId = $(this).attr("parent");
                }

                console.log(surecID);
                $.ajax({
                    type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                    url: "/Project/SurecBilgileri",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                    data: { surecID: surecID, projeID: projeID },
                    beforeSend: function () {
                        noti("İşlem Gerçekleştiriliyor", "information", "topRight");
                        // $("#isTakibiKaydet").append()  //loading simgesi gösterilecek
                    },
                    datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                    success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                        // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.
                        //alert(data);
                        console.log(data);
                        $("#surecBaslik").val(data.surecBaslik);
                        $("#projeAdi").val(data.projeBaslik);
                        $("#sureciOlusturan").val(data.sureciOlusturan);
                        $("#planlananBaslangic").val(data.surecPlanlananBaslangic);
                        $("#planlananBitis").val(data.surecPlanlananBitis);
                        $("#surecTamamlama").val(data.surecTamamlanma);
                        $("#surecdegeri").html("<b> (%" + data.surecTamamlanma + ")</b>");
                        $("#not").val(data.surecNotu);
                        var kisilerUzunlugu = data.surecDetayKisiler.length;
                        for (var j = 0; j < data.surecDetayKisiler.length; j++) {

                            $("#analizKisi").prepend('<option  id="kisi"kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#tableKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#procedureKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#dllListKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#dllIslemKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#arayuzKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#testKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            if ((kisilerUzunlugu - 1) == j) {
                                $("#analizKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#tableKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#procedureKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#dllListKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#dllIslemKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#arayuzKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#testKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');

                            }
                        }

                        $.ajax({
                            type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                            url: "/Project/IsTakibiBilgileri",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                            data: { surecID: surecID, projeID: projeID },
                            datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                            success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                                // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.
                                console.log(data);


                                for (var i = 0; i < data.length; i++) {

                                    if (data[i].surecDetayRolAdi == "Analiz") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#analizKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#analizBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#analizBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#analizTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#analizTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);
                                        $("#analizSil").attr("akisId", data[i].id);
                                    } else if (data[i].surecDetayRolAdi == "Table") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#tableKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#tableBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#tableBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#tableTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#tableTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);
                                        $("#tableSil").attr("akisId", data[i].id);
                                    } else if (data[i].surecDetayRolAdi == "Procedure") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#procedureKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#procedureBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#procedureBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#procedureTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#procedureTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);
                                        $("#procedureSil").attr("akisId", data[i].id);
                                    } else if (data[i].surecDetayRolAdi == "DLL List") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#dllListKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }
                                        //for (var j = 0; j < data[i].surecDetayKisiler.length; j++) {

                                        //}

                                        $("#dllListBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#dllListBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#dllListTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#dllListTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);
                                        $("#dllListSil").attr("akisId", data[i].id);
                                    } else if (data[i].surecDetayRolAdi == "DLL Islem") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#dllIslemKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }
                                        //for (var j = 0; j < data[i].surecDetayKisiler.length; j++) {

                                        //}

                                        $("#dllIslemBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#dllIslemBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#dllIslemTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#dllIslemTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);
                                        $("#dllIslemSil").attr("akisId", data[i].id);
                                    } else if (data[i].surecDetayRolAdi == "Arayüz") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#arayuzKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#arayuzBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#arayuzBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#arayuzTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#arayuzTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);
                                        $("#arayuzSil").attr("akisId", data[i].id);
                                    } else if (data[i].surecDetayRolAdi == "Test") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#testKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#testBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#testBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#testTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#testTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);
                                        $("#testSil").attr("akisId", data[i].id);
                                    } else {
                                        alert("deger Gelmedi");
                                    }

                                }
                                noti("İşlem Gerçekleştirildi", "success", "topRight");
                            }

                        });
                    }

                });
                $(".anaEkran").show();
            });

            $("#isTakibiKaydet").click(function () {
          
                $("#isTakibiKaydet").attr("disabled", "disabled");
                $("#surecSil").attr("disabled", "disabled");
                $("#RaporGit").attr("disabled", "disabled");
                $(".akisSil").attr("disabled", "disabled");
                console.log("Tıkladı..");
                var projeID = $("a#proje").attr("projeid");

                var SurecBaslik = $("#surecBaslik").val();
                var SurecBaslangic = $("#planlananBaslangic").val();
                var SurecBitis = $("#planlananBitis").val();
                var SurecNote = $("textarea#not").val();
                console.log(SurecNote);

                var  AnalizKisi= $("#analizKisi option:selected").text();
                var  AnalizBaslangicTarihi = $("#analizBaslangicTarihi").val();
                var  AnalizBitisTarihi= $("#analizBitisTarihi").val();
                var  AnalizTamamlanmaTarihi= $("#analizTamamlanmaTarihi").val();
                var AnalizTamamlanmaOrani = $("#analizTamamlanmaOrani").val() == "" ? 0 : $("#analizTamamlanmaOrani").val();

                var TableKisi=  $("#tableKisi option:selected").text();
                var TableBaslangicTarihi = $("#tableBaslangicTarihi").val();
                var TableBitisTarihi=  $("#tableBitisTarihi").val();
                var TableTamamlanmaTarihi= $("#tableTamamlanmaTarihi").val();
                var TableTamamlanmaOrani = $("#tableTamamlanmaOrani").val() == "" ? 0 : $("#tableTamamlanmaOrani").val();

                var ProcedureKisi=  $("#procedureKisi option:selected").text();
                var ProcedureBaslangicTarihi=  $("#procedureBaslangicTarihi").val();
                var ProcedureBitisTarihi=  $("#procedureBitisTarihi").val();
                var ProcedureTamamlanmaTarihi= $("#procedureTamamlanmaTarihi").val();
                var ProcedureTamamlanmaOrani = $("#procedureTamamlanmaOrani").val() == "" ? 0 : $("#procedureTamamlanmaOrani").val();

                var DllListKisi=  $("#dllListKisi option:selected").text();
                var DllListBaslangicTarihi=  $("#dllListBaslangicTarihi").val();
                var DllListBitisTarihi = $("#dllListBitisTarihi").val();
                var DllListTamamlanmaTarihi= $("#dllListTamamlanmaTarihi").val();
                var DllListTamamlanmaOrani = $("#dllListTamamlanmaOrani").val() == "" ? 0 : $("#dllListTamamlanmaOrani").val();

                var DllIslemKisi=  $("#dllIslemKisi option:selected").text();
                var DllIslemBaslangicTarihi=  $("#dllIslemBaslangicTarihi").val();
                var DllIslemBitisTarihi=  $("#dllIslemBitisTarihi").val();
                var DllIslemTamamlanmaTarihi= $("#dllIslemTamamlanmaTarihi").val();
                var DllIslemTamamlanmaOrani = $("#dllIslemTamamlanmaOrani").val() == "" ? 0 : $("#dllIslemTamamlanmaOrani").val();

                var ArayuzKisi=  $("#arayuzKisi option:selected").text();
                var ArayuzBaslangicTarihi=  $("#arayuzBaslangicTarihi").val();
                var ArayuzBitisTarihi=  $("#arayuzBitisTarihi").val();
                var ArayuzTamamlanmaTarihi= $("#arayuzTamamlanmaTarihi").val();
                var ArayuzTamamlanmaOrani = $("#arayuzTamamlanmaOrani").val() == "" ? 0 : $("#arayuzTamamlanmaOrani").val();

                var TestKisi=  $("#testKisi option:selected").text();
                var TestBaslangicTarihi= $("#testBaslangicTarihi").val();
                var TestBitisTarihi=  $("#testBitisTarihi").val();
                var TestTamamlanmaTarihi= $("#testTamamlanmaTarihi").val();
                var TestTamamlanmaOrani = $("#testTamamlanmaOrani").val() == "" ? 0 : $("#testTamamlanmaOrani").val();

                var surecID = $(this).attr("surecID");





                var SurecIstakibi = {

                    analizKisi: AnalizKisi,
                    analizBaslangicTarihi: AnalizBaslangicTarihi,
                    analizBitisTarihi: AnalizBitisTarihi,
                    analizTamamlanmaTarihi: AnalizTamamlanmaTarihi,
                    analizTamamlanmaOrani: AnalizTamamlanmaOrani,

                    tableKisi: TableKisi,
                    tableBaslangicTarihi: TableBaslangicTarihi,
                    tableBitisTarihi: TableBitisTarihi,
                    tableTamamlanmaTarihi: TableTamamlanmaTarihi,
                    tableTamamlanmaOrani: TableTamamlanmaOrani,

                    procedureKisi:  ProcedureKisi,
                    procedureBaslangicTarihi:  ProcedureBaslangicTarihi,
                    procedureBitisTarihi: ProcedureBitisTarihi,
                    procedureTamamlanmaTarihi: ProcedureTamamlanmaTarihi,
                    procedureTamamlanmaOrani: ProcedureTamamlanmaOrani,

                    dllListKisi: DllListKisi,
                    dllListBaslangicTarihi: DllListBaslangicTarihi,
                    dllListBitisTarihi: DllListBitisTarihi,
                    dllListTamamlanmaTarihi: DllListTamamlanmaTarihi,
                    dllListTamamlanmaOrani:  DllListTamamlanmaOrani,

                    dllIslemKisi: DllIslemKisi,
                    dllIslemBaslangicTarihi: DllIslemBaslangicTarihi,
                    dllIslemBitisTarihi: DllIslemBitisTarihi,
                    dllIslemTamamlanmaTarihi: DllIslemTamamlanmaTarihi,
                    dllIslemTamamlanmaOrani: DllIslemTamamlanmaOrani,

                    arayuzKisi: ArayuzKisi,
                    arayuzBaslangicTarihi: ArayuzBaslangicTarihi,
                    arayuzBitisTarihi: ArayuzBitisTarihi,
                    arayuzTamamlanmaTarihi: ArayuzTamamlanmaTarihi,
                    arayuzTamamlanmaOrani: ArayuzTamamlanmaOrani,

                    testKisi: TestKisi,
                    testBaslangicTarihi: TestBaslangicTarihi,
                    testBitisTarihi: TestBitisTarihi,
                    testTamamlanmaTarihi: TestTamamlanmaTarihi,
                    testTamamlanmaOrani: TestTamamlanmaOrani,


                };

                console.log(SurecIstakibi)

                var surecTarih = [
                    {
                        parentId: surecID,
                        tip: 1,
                        baslangicTarihi: AnalizBaslangicTarihi,
                        bitisTarihi: AnalizBitisTarihi
                    },
                    {
                        parentId: surecID,
                        tip: 1,
                        baslangicTarihi: TableBaslangicTarihi,
                        bitisTarihi: TableBitisTarihi
                    },
                    {
                        parentId: surecID,
                        tip: 1,
                        baslangicTarihi: ProcedureBaslangicTarihi,
                        bitisTarihi: ProcedureBitisTarihi
                    },
                    {
                        parentId: surecID,
                        tip: 1,
                        baslangicTarihi: DllListBaslangicTarihi,
                        bitisTarihi: DllListBitisTarihi
                    },
                    {
                        parentId: surecID,
                        tip: 1,
                        baslangicTarihi: DllIslemBaslangicTarihi,
                        bitisTarihi: DllIslemBitisTarihi
                    },
                    {
                        parentId: surecID,
                        tip: 1,
                        baslangicTarihi: ArayuzBaslangicTarihi,
                        bitisTarihi: ArayuzBitisTarihi
                    },
                    {
                        parentId: surecID,
                        tip: 1,
                        baslangicTarihi: TestBaslangicTarihi,
                        bitisTarihi: TestBitisTarihi
                    }
                ];
                $.post('@Url.Action("TarihKontrol", "Home")', { parentId: parentId, tip: tip, baslangic: SurecBaslangic, bitis: SurecBitis }, function (sonuc) {
                    if (sonuc==1) {
                        if (AnalizTamamlanmaOrani >= 0 && AnalizTamamlanmaOrani <= 100 && TableTamamlanmaOrani >= 0 && TableTamamlanmaOrani <= 100 && ProcedureTamamlanmaOrani >= 0 && ProcedureTamamlanmaOrani <= 100 && DllListTamamlanmaOrani >= 0 && DllListTamamlanmaOrani <= 100 && DllIslemTamamlanmaOrani >= 0 && DllIslemTamamlanmaOrani <= 100 && ArayuzTamamlanmaOrani >= 0 && ArayuzTamamlanmaOrani <= 100 && TestTamamlanmaOrani >= 0 && TestTamamlanmaOrani <= 100) {
                            $.post('@Url.Action("IsTakipTarih", "Home")', { dizi: surecTarih }, function (data) {
                                if (data == 1) {
                                    $.ajax({
                                        type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                                        url: "/Project/IsTakibiKaydet",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                                        data: { istakibiBilgi: SurecIstakibi, surecID: surecID, projeID: projeID, surecBaslik: SurecBaslik, surecNote: SurecNote ,baslangic:SurecBaslangic, bitis:SurecBitis},
                                        beforeSend: function () {
                                            noti("İşlem Gerçekleştiriliyor", "information", "topRight");
                                            // $("#isTakibiKaydet").append()  //loading simgesi gösterilecek
                                        },
                                        datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                                        success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                                            // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.

                                            noti("İşlem Gerçekleştirildi", "success", "topRight");
                                            $("#isTakibiKaydet").attr("disabled", false);
                                            $("#surecSil").attr("disabled", false);
                                            $("#RaporGit").attr("disabled", false);
                                            $(".akisSil").attr("disabled", false);
                                        }

                                    });
                                } else {
                                    noti("Bu süreç, bir üst süreç yada projenin tarih aralığını aşıyor ", "error", "top");
                                    $("#isTakibiKaydet").attr("disabled", false);
                                    $("#surecSil").attr("disabled", false);
                                    $("#RaporGit").attr("disabled", false);
                                    $(".akisSil").attr("disabled", false);
                                    $("#surecTamamlama").val(data);
                                    $("#surecdegeri").html("<b> (" + data + "%)</b>");
                                }

                            });
                        } else {
                            noti("Oranlar 0 ile 100 arası olmalıdır", "warning", "topRight");
                            $("#isTakibiKaydet").attr("disabled", false);
                            $("#surecSil").attr("disabled", false);
                            $("#RaporGit").attr("disabled", false);
                            $(".akisSil").attr("disabled", false);
                        }

                    }
                    else {
                        noti("Bu süreç, bir üst süreç yada projenin tarih aralığını aşıyor ", "error", "top");
                        $("#isTakibiKaydet").attr("disabled", false);
                        $("#surecSil").attr("disabled", false);
                        $("#RaporGit").attr("disabled", false);
                        $(".akisSil").attr("disabled", false);
                    }
                    
                });
            


            });

            $("#surecSil").click(function () {                  
                $("#isTakibiKaydet").attr("disabled", "disabled");
                $("#surecSil").attr("disabled", "disabled");
                $("#RaporGit").attr("disabled", "disabled");
                $(".akisSil").attr("disabled", "disabled");
                var projeID = $("a#proje").attr("projeid");
                var surecID = $(this).attr("surecID");

                $.ajax({
                    type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                    url: "/Project/SurecSil",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                    data: { surecID: surecID, projeID: projeID },
                    beforeSend: function () {
                        noti("İşlem Gerçekleştiriliyor", "information", "topRight");
                        // $("#isTakibiKaydet").append()  //loading simgesi gösterilecek
                    },
                    datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                    success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                        // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.

                        noti("İşlem Gerçekleştirildi", "success", "topRight");

                        $("#isTakibiKaydet").attr("disabled", false);
                        $("#surecSil").attr("disabled", false);
                        $("#RaporGit").attr("disabled", false);
                        $(".akisSil").attr("disabled", false);
                        location.href = "/Project/ProcessEdit/" + projeID;
                     }

                });


            });

            $(".akisSil").click(function () {
                $("#isTakibiKaydet").attr("disabled", "disabled");
                $("#surecSil").attr("disabled", "disabled");
                $("#RaporGit").attr("disabled", "disabled");
                $(".akisSil").attr("disabled", "disabled");
                var projeID = $("a#proje").attr("projeid");
                var surecID=$(this).attr("surecID");
                
                if ($(this).attr("akisid") == 0) {
                    $(".akisSil").attr("disabled", false);
                    noti("Bu akış zaten boş", "information", "topRight");
                } else {
                    noti("İşlem yapılıyor", "information", "topRight");
                    $.post('@Url.Action("AkisSil", "Project")', { akisid: $(this).attr("akisid"), surecID: surecID, projeID:projeID}, function () {
                        location.href = "../../Project/ProcessEdit/" + projeID;
                    });
                }
            });

            

        });
    </script>
    <!-- end initialize page scripts -->
    }
    <div class="layout-xs contacts-container">
        <div class="flexbox-xs layout-column-xs contacts-list b-r">
            <div class="contact-header bg-default">
                <div class="contact-toolbar">
                    <form class="form-inline">
                        <input class="form-control" type="text" placeholder="Search" />
                    </form>
                </div>
            </div>
            <div class="flex-xs scroll-y">
                <!--Contact list item-->
                @foreach (YPYA.Models.Surec i in Model.Where(x => x.ParentSurecId == null))
                {
                if (i.haveChild == true)
                {
                drm = "";
                }
                else
                {
                drm = "surec";
                }

                <a id="@i.Id" href="javascript:;" proces="mainProces" class="column-equal main-process @drm" data-toggle="contact">
                    <div href="#" class="notification-bar-icon">
                        <div><i></i></div>
                    </div>
                    <div class="col v-align-middle contact-details p-l-1">

                        <span class="bold">@i.Baslik</span>
                        <span class="small">@i.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                    </div>
                </a>
                foreach (YPYA.Models.Surec j in Model.Where(y => y.ParentSurecId == i.Id))
                {
                if (j.haveChild == true)
                {
                drm = "";
                }
                else
                {
                drm = "surec";
                }

                <a id="@j.Id" parent="@j.ParentSurecId" href="javascript:;" proces="proces" class="column-equal proces @drm" data-toggle="contact">
                    <div href="#" class="notification-bar-icon">
                        <div><i></i></div>
                    </div>
                    <div class="col v-align-middle contact-details p-l-1">

                        <span class="bold">@j.Baslik</span>
                        <span class="small">@j.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                    </div>
                </a>
                foreach (YPYA.Models.Surec k in Model.Where(z => z.ParentSurecId == j.Id))
                {
                if (k.haveChild == true)
                {
                drm = "";
                }
                else
                {
                drm = "surec";
                }

                <a id="@k.Id" parent="@i.ParentSurecId" href="javascript:;" proces="subProces" class="column-equal sub-process @drm" data-toggle="contact">
                    <div href="#" class="notification-bar-icon">
                        <div><i></i></div>
                    </div>
                    <div class="col v-align-middle contact-details p-l-1">

                        <span class="bold">@k.Baslik</span>
                        <span class="small">@k.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                    </div>
                </a>
                }
                }
                }

            </div>
        </div>
        <div class="flexbox-xs layout-column-xs contact-view anaEkran">
            <div class="contact-header hidden-lg-up">
                <div class="contact-toolbar">
                    <a href="javascript:;" data-toggle="contact">
                        <i class="material-icons visible-xs m-r-1">arrow_back</i>
                    </a>
                </div>
            </div>
            <div class="flex-xs scroll-y p-a-1" style="background-color: #f7f0f0;">
                <div class="card">
                    <div class="card-block">
                        <form>
                            <div class="row">
                                <div class="col-sm-4">
                                    <fieldset class="form-group">
                                        <label for="formGroupExampleInput">
                                            Başlık
                                        </label>
                                        <input type="text" class="form-control" id="surecBaslik" placeholder="Başlığı düzenleyin">
                                    </fieldset>
                                </div>
                                <div class="col-sm-4">
                                    <fieldset class="form-group" disabled>
                                        <label for="formGroupExampleInput">
                                            Proje Adı
                                        </label>
                                        <input type="text" class="form-control" id="projeAdi" placeholder="Proje Adı">
                                    </fieldset>
                                </div>
                                <div class="col-sm-4">
                                    <fieldset class="form-group" disabled>
                                        <label for="formGroupExampleInput">
                                            Süreci oluşturan
                                        </label>
                                        <input type="text" class="form-control" id="sureciOlusturan" placeholder="Süreci oluşturan">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <fieldset class="form-group">
                                        <label for="formGroupExampleInput">
                                            Planlanan başlangıç
                                        </label>
                                        <input type="date" class="form-control" id="planlananBaslangic">
                                    </fieldset>
                                </div>
                                <div class="col-sm-6">
                                    <fieldset class="form-group">
                                        <label for="formGroupExampleInput">
                                            Planlanan bitiş
                                        </label>
                                        <input type="date" class="form-control" id="planlananBitis">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">
                                            Not
                                        </label>
                                        <textarea id="not" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <fieldset class="form-group">
                                        <label for="formGroupExampleInput">
                                            Süreç tamamlanma<span id="surecdegeri"></span>   
                                        </label>
                                        <progress id="surecTamamlama" class="progress progress-success" style="margin-bottom: 0px;" value="0" max="100"></progress>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        @*<button class="btn btn-success" id="isTakibiCek">İş Takibi Çek</button>*@
                        <button class="btn btn-success" id="isTakibiKaydet">Kaydet</button>
                        <button class="btn btn-danger" id="surecSil">Süreci Sil</button>
                        <a class="btn btn-info" id="RaporGit" target="_blank">Raporu Görüntüle</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <form class="form">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Kişi</th>
                                            <th>Başlangıç tarihi</th>
                                            <th>Bitiş tarihi</th>
                                            <th>Tamamlanma tarihi</th>
                                            <th>Tamamlanma oranı</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Analiz</th>
                                            <td>
                                                <select id="analizKisi" class="form-control">
                                                    @*
                                                    <option value="value">text</option>
                                                    <option value="value">YSn</option>*@
                                                </select>
                                            </td>
                                            <td><input id="analizBaslangicTarihi" class="form-control" type="date" /></td>
                                            <td><input id="analizBitisTarihi" class="form-control" type="date" /></td>
                                            <td><input id="analizTamamlanmaTarihi" class="form-control" type="date" /></td>
                                            <td><input class="form-control" type="number" min="0" max="100" id="analizTamamlanmaOrani" placeholder="Tamamlanma oranı"/></td>
                                            <td><button id="analizSil" akisid="0" type="button" class="btn btn-danger akisSil">Sil</button></td>
                                        </tr>
                                        <tr>
                                            <th>Table</th>
                                            <td>
                                                <select id="tableKisi" class="form-control">
                                                    @*
                                                    <option value="value">text</option>*@
                                                </select>
                                            </td>
                                            <td><input id="tableBaslangicTarihi" class="form-control" type="date" /></td>
                                            <td><input id="tableBitisTarihi" class="form-control" type="date" /></td>
                                            <td><input id="tableTamamlanmaTarihi" class="form-control" type="date" /></td>
                                            <td><input class="form-control" type="number" min="0" max="100" id="tableTamamlanmaOrani" placeholder="Tamamlanma oranı" /></td>
                                            <td><button id="tableSil" akisid="0" type="button" class="btn btn-danger akisSil">Sil</button></td>
                                        </tr>
                                        <tr>
                                            <th>Procedure</th>
                                            <td>
                                                <select id="procedureKisi" class="form-control">
                                                    @*
                                                    <option value="value">text</option>*@
                                                </select>
                                            </td>
                                            <td><input id="procedureBaslangicTarihi" class="form-control" type="date" /></td>
                                            <td><input id="procedureBitisTarihi" class="form-control" type="date" /></td>
                                            <td><input id="procedureTamamlanmaTarihi" class="form-control" type="date" /></td>
                                            <td><input class="form-control" type="number" min="0" max="100" id="procedureTamamlanmaOrani" placeholder="Tamamlanma oranı" /></td>
                                            <td><button id="procedureSil" akisid="0" type="button" class="btn btn-danger akisSil">Sil</button></td>
                                        </tr>
                                        <tr>
                                            <th>Dll list</th>
                                            <td>
                                                <select id="dllListKisi" class="form-control">
                                                    @*
                                                    <option value="value">text</option>*@
                                                </select>
                                            </td>
                                            <td><input id="dllListBaslangicTarihi" class="form-control" type="date" /></td>
                                            <td><input id="dllListBitisTarihi" class="form-control" type="date" /></td>
                                            <td><input id="dllListTamamlanmaTarihi" class="form-control" type="date" /></td>
                                            <td><input class="form-control" type="number" min="0" max="100" id="dllListTamamlanmaOrani" placeholder="Tamamlanma oranı" /></td>
                                            <td><button id="dllListSil" akisid="0" type="button" class="btn btn-danger akisSil">Sil</button></td>
                                        </tr>
                                        <tr>
                                            <th>Dll işlem</th>
                                            <td>
                                                <select id="dllIslemKisi" class="form-control">
                                                    @*
                                                    <option value="value">text</option>*@
                                                </select>
                                            </td>
                                            <td><input id="dllIslemBaslangicTarihi" class="form-control" type="date" /></td>
                                            <td><input id="dllIslemBitisTarihi" class="form-control" type="date" /></td>
                                            <td><input id="dllIslemTamamlanmaTarihi" class="form-control" type="date" /></td>
                                            <td><input class="form-control" type="number" min="0" max="100" id="dllIslemTamamlanmaOrani" placeholder="Tamamlanma oranı" /></td>
                                            <td><button id="dllIslemSil" akisid="0" type="button" class="btn btn-danger akisSil">Sil</button></td>
                                        </tr>
                                        <tr>
                                            <th>Arayüz</th>
                                            <td>
                                                <select id="arayuzKisi" class="form-control">
                                                    @*
                                                    <option value="value">text</option>*@
                                                </select>
                                            </td>
                                            <td><input id="arayuzBaslangicTarihi" class="form-control" type="date" /></td>
                                            <td><input id="arayuzBitisTarihi" class="form-control" type="date" /></td>
                                            <td><input id="arayuzTamamlanmaTarihi" class="form-control" type="date" /></td>
                                            <td><input class="form-control" type="number" min="0" max="100" id="arayuzTamamlanmaOrani" placeholder="Tamamlanma oranı" /></td>
                                            <td><button id="arayuzSil" akisid="0" type="button" class="btn btn-danger akisSil">Sil</button></td>
                                        </tr>
                                        <tr>
                                            <th>Test</th>
                                            <td>
                                                <select id="testKisi" class="form-control">
                                                    @*
                                                    <option value="value">text</option>*@
                                                </select>
                                            </td>
                                            <td><input id="testBaslangicTarihi" class="form-control" type="date" /></td>
                                            <td><input id="testBitisTarihi" class="form-control" type="date" /></td>
                                            <td><input id="testTamamlanmaTarihi" class="form-control" type="date" /></td>
                                            <td><input class="form-control" type="number" min="0" max="100" id="testTamamlanmaOrani" placeholder="Tamamlanma oranı" /></td>
                                            <td><button id="testSil" akisid="0" type="button" class="btn btn-danger akisSil">Sil</button></td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
