
@{
    ViewBag.Title = "ProcessEdit";
    string drm;
}

@model IEnumerable<YPYA.Models.Surec>

@section ustBaslik{
    <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="~/Project/Index/@Model.FirstOrDefault().Proje.Id">
        <span>@Model.FirstOrDefault().Proje.Baslik</span>
    </a>
}

@section pagestyle{
    <style>
        .main-panel > .header {
            color: #fff !important;
            background-color: #f32c1e !important;
        }

        .main-panel > .main-content > .content-view {
            padding: 0px !important;
        }

        .main-process {
            padding: 12px !important;
        }

        .proces {
            padding: 5px 43px !important;
        }

        .sub-process {
            padding: 5px 74px !important;
        }

        .notification-bar-icon {
            width: 1.5rem;
            height: 1.5rem;
        }

            .notification-bar-icon div {
                width: 1.8rem;
                height: 1.8rem;
            }

            .notification-bar-icon i {
                top: 78%;
                width: 1rem;
                height: 1rem;
                left: 78%;
            }

        .main-process .notification-bar-icon i {
            background-color: #7fc35c;
        }

        .proces .notification-bar-icon i {
            background-color: #d26d54;
        }

        .sub-process .notification-bar-icon i {
            background-color: #4cc3f0;
        }

        .content-footer {
            display: none !important;
        }

        .main-content {
            overflow-y: hidden !important;
        }

        tbody tr th {
            padding-top: 24px !important;
        }
    </style>
}

@section menu{
    @Html.Action("ProjectMenu", "Project", new { id = Model.FirstOrDefault().Proje.Id })
}

@section script{
    <!-- page scripts -->
    @*<script src="~/Content/vendor/jquery.ui/ui/core.js"></script>*@
    <script src="~/Content/vendor/jquery.ui/ui/widget.js"></script>
    <script src="~/Content/vendor/jquery.ui/ui/mouse.js"></script>
    <script src="~/Content/vendor/jquery.ui/ui/slider.js"></script>
    <script src="~/Content/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script type="text/javascript">
        $(function () {
            var surecID;

            $('.slider').each(function () {
                var data = $(this).data();
                $(this).slider(data);
            });
            $(".app").addClass("expanding");

            $(".surec").click(function () {
                
                console.log("tıklama");
               
                surecID = $(this).attr("id");
                $("#isTakibiCek").attr("surecID", surecID);
                $("#isTakibiKaydet").attr("surecID", surecID);
                console.log(surecID);
                $.ajax({
                    type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                    url: "/Project/SurecBilgileri",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                    data: { surecID: surecID },
                    datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                    success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                        // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.
                        //alert(data);  
                       

                        $("#surecBaslik").val(data.surecBaslik);
                        $("#projeAdi").val(data.projeBaslik);
                        $("#sureciOlusturan").val(data.sureciOlusturan);
                        $("#planlananBaslangic").val(data.surecPlanlananBaslangic);
                        $("#planlananBitis").val(data.surecPlanlananBitis);
                        $("#surecTamamlama").val(data.surecTamamlanma);

                    }

                });

            });
            $("#isTakibiKaydet").click(function () {
                var istakibi = new {
                    analizKisi: $("#analizKisi").text(),
                    analizBaslangicTarihi: $("#analizBaslangicTarihi").val(),
                    analizBitisTarihi: $("#analizBitisTarihi").val(),
                    analizTamamlanmaTarihi: $("#analizTamamlanmaTarihi").val(),
                    analizTamamlanmaOrani: $("#analizTamamlanmaOrani").val(),//bu daha işi var

                    tableKisi: $("#tableKisi").text(),
                    tableBaslangicTarihi: $("#tableBaslangicTarihi").val(),
                    tableBitisTarihi: $("#tableBitisTarihi").val(),
                    tableTamamlanmaTarihi: $("#tableTamamlanmaTarihi").val(),
                    tableTamamlanmaOrani: $("#tableTamamlanmaOrani").val(),

                    procedureKisi: $("#procedureKisi").text(),
                    procedureBaslangicTarihi: $("#procedureBaslangicTarihi").val(),
                    procedureBitisTarihi: $("#procedureBitisTarihi").val(),
                    procedureTamamlanmaTarihi: $("#procedureTamamlanmaTarihi").val(),
                    procedureTamamlanmaOrani: $("#procedureTamamlanmaOrani").val(),


                    dllListKisi: $("#dllListKisi").text(),
                    dllListBaslangicTarihi: $("#dllListBaslangicTarihi").val(),
                    dllListBitisTarihi: $("#dllListBitisTarihi").val(),
                    dllListTamamlanmaTarihi: $("#dllListTamamlanmaTarihi").val(),
                    dllListTamamlanmaOrani: $("#dllListTamamlanmaOrani").val(),

                    dllIslemKisi: $("#dllIslemKisi").text(),
                    dllIslemBaslangicTarihi: $("#dllIslemBaslangicTarihi").val(),
                    dllIslemBitisTarihi: $("#dllIslemBitisTarihi").val(),
                    dllIslemTamamlanmaTarihi: $("#dllIslemTamamlanmaTarihi").val(),
                    dllIslemTamamlanmaOrani: $("#dllIslemTamamlanmaOrani").val(),

                    arayuzKisi: $("#arayuzKisi").text(),
                    arayuzBaslangicTarihi: $("#arayuzBaslangicTarihi").val(),
                    arayuzBitisTarihi: $("#arayuzBitisTarihi").val(),
                    arayuzTamamlanmaTarihi: $("#arayuzTamamlanmaTarihi").val(),
                    arayuzTamamlanmaOrani: $("#arayuzTamamlanmaOrani").val(),

                    testKisi: $("#testKisi").text(),
                    testBaslangicTarihi: $("#testBaslangicTarihi").val(),
                    testBitisTarihi: $("#testBitisTarihi").val(),
                    testTamamlanmaTarihi: $("#testTamamlanmaTarihi").val(),
                    testTamamlanmaOrani: $("#testTamamlanmaOrani").val(),
                };
                $.ajax({
                    type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                    url: "/Project/IsTakibiKaydet",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                    data: { istakibiBilgi: istakibi },
                    datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                    success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                        // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.
                       

                    }

                });



            });

            $("#isTakibiCek").click(function () {
                var surecID = $(this).attr("surecID");
                $.ajax({
                    type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                    url: "/Project/IsTakibiBilgileri",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                    data: { surecID: surecID },
                    datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                    success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                        // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.
                        
                        data.forEach(function (dt) {
                            if (dt.surecDetayRolAdi == "Analiz") {
                                $("#analizKisi").text(dt.surecDetayKisi);
                                $("#analizBaslangicTarihi").val(dt.surecDetayBaslangic);
                                $("#analizBitisTarihi").val(dt.surecDetayBitis);
                                $("#analizTamamlanmaTarihi").val(dt.surecDetayTamamlanma);
                                $("div.ui-slider-range").css("width", dt.surecDetayTamamlanmaOrani);
                                $("span.ui-slider-handle").css("left", dt.surecDetayTamamlanmaOrani);
                                $("#analizTamamlanmaOrani").attr("data-value", dt.surecDetayTamamlanmaOrani);
                            } else if (dt.surecDetayRolAdi == "Table") {
                                $("#tableKisi").text(dt.surecDetayKisi);
                                $("#tableBaslangicTarihi").val(dt.surecDetayBaslangic);
                                $("#tableBitisTarihi").val(dt.surecDetayBitis);
                                $("#tableTamamlanmaTarihi").val(dt.surecDetayTamamlanma);
                                $("#tableTamamlanmaOrani").attr("data-value",dt.surecDetayTamamlanmaOrani);
                            } else if (dt.surecDetayRolAdi == "Procedure") {
                                $("#procedureKisi").text(dt.surecDetayKisi);
                                $("#procedureBaslangicTarihi").val(dt.surecDetayBaslangic);
                                $("#procedureBitisTarihi").val(dt.surecDetayBitis);
                                $("#procedureTamamlanmaTarihi").val(dt.surecDetayTamamlanma);
                                $("#procedureTamamlanmaOrani").val(dt.surecDetayTamamlanmaOrani);
                            } else if (dt.surecDetayRolAdi == "DLL List") {
                                $("#dllListKisi").text(dt.surecDetayKisi);
                                $("#dllListBaslangicTarihi").val(dt.surecDetayBaslangic);
                                $("#dllListBitisTarihi").val(dt.surecDetayBitis);
                                $("#dllListTamamlanmaTarihi").val(dt.surecDetayTamamlanma);
                                $("#dllListTamamlanmaOrani").val(dt.surecDetayTamamlanmaOrani);
                            } else if (dt.surecDetayRolAdi == "DLL Islem") {
                                $("#dllIslemKisi").text(dt.surecDetayKisi);
                                $("#dllIslemBaslangicTarihi").val(dt.surecDetayBaslangic);
                                $("#dllIslemBitisTarihi").val(dt.surecDetayBitis);
                                $("#dllIslemTamamlanmaTarihi").val(dt.surecDetayTamamlanma);
                                $("#dllIslemTamamlanmaOrani").val(dt.surecDetayTamamlanmaOrani);
                            } else if (dt.surecDetayRolAdi == "Arayüz") {
                                $("#arayuzKisi").text(dt.surecDetayKisi);
                                $("#arayuzBaslangicTarihi").val(dt.surecDetayBaslangic);
                                $("#arayuzBitisTarihi").val(dt.surecDetayBitis);
                                $("#arayuzTamamlanmaTarihi").val(dt.surecDetayTamamlanma);
                                $("#arayuzTamamlanmaOrani").val(dt.surecDetayTamamlanmaOrani);
                            } else if (dt.surecDetayRolAdi == "Test") {
                                $("#testKisi").text(dt.surecDetayKisi);
                                $("#testBaslangicTarihi").val(dt.surecDetayBaslangic);
                                $("#testBitisTarihi").val(dt.surecDetayBitis);
                                $("#testTamamlanmaTarihi").val(dt.surecDetayTamamlanma);
                                $("#testTamamlanmaOrani").val(dt.surecDetayTamamlanmaOrani);
                            }
                            
           
                    
                        });
                    }

                });


            });

       




        });

    </script>
    <!-- end initialize page scripts -->

}

<div class="layout-xs contacts-container">
    <div class="flexbox-xs layout-column-xs contacts-list b-r">
        <div class="contact-header bg-default">
            <div class="contact-toolbar">
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Search" />
                </form>
            </div>
        </div>
        <div class="flex-xs scroll-y">
            <!--Contact list item-->
            @foreach (YPYA.Models.Surec i in Model.Where(x => x.ParentSurecId == null))
            {
                if (i.haveChild == true)
                {
                    drm = "";
                }
                else
                {
                    drm = "surec";
                }
                <a id="@i.Id" href="javascript:;" class="column-equal main-process @drm" data-toggle="contact">
                    <div href="#" class="notification-bar-icon">
                        <div><i></i></div>
                    </div>
                    <div class="col v-align-middle contact-details p-l-1">
                        <span class="bold">@i.Baslik</span>
                        <span class="small">@i.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                    </div>
                </a>
                foreach (YPYA.Models.Surec j in Model.Where(y => y.ParentSurecId == i.Id))
                {
                    if (j.haveChild == true)
                    {
                        drm = "";
                    }
                    else
                    {
                        drm = "surec";
                    }
                    <a id="@j.Id" href="javascript:;" class="column-equal proces @drm" data-toggle="contact">
                        <div href="#" class="notification-bar-icon">
                            <div><i></i></div>
                        </div>
                        <div class="col v-align-middle contact-details p-l-1">
                            <span class="bold">@j.Baslik</span>
                            <span class="small">@j.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                        </div>
                    </a>
                    foreach (YPYA.Models.Surec k in Model.Where(z => z.ParentSurecId == j.Id))
                    {
                        if (k.haveChild == true)
                        {
                            drm = "";
                        }
                        else
                        {
                            drm = "surec";
                        }
                        <a id="@k.Id" href="javascript:;" class="column-equal sub-process @drm" data-toggle="contact">
                            <div href="#" class="notification-bar-icon">
                                <div><i></i></div>
                            </div>
                            <div class="col v-align-middle contact-details p-l-1">
                                <span class="bold">@k.Baslik</span>
                                <span class="small">@k.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                            </div>
                        </a>
                    }
                }
            }

        </div>
    </div>
    <div class="flexbox-xs layout-column-xs contact-view">
        <div class="contact-header hidden-lg-up">
            <div class="contact-toolbar">
                <a href="javascript:;" data-toggle="contact">
                    <i class="material-icons visible-xs m-r-1">arrow_back</i>
                </a>
            </div>
        </div>
        <div class="flex-xs scroll-y p-a-1" style="background-color: #f7f0f0;">
            <div class="card">
                <div class="card-block">
                    <form>
                        <div class="row">
                            <div class="col-sm-4">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">
                                        Başlık
                                    </label>
                                    <input type="text" class="form-control" id="surecBaslik" placeholder="Başlığı düzenleyin">
                                </fieldset>
                            </div>
                            <div class="col-sm-4">
                                <fieldset class="form-group" disabled>
                                    <label for="formGroupExampleInput">
                                        Proje Adı
                                    </label>
                                    <input type="text" class="form-control" id="projeAdi" placeholder="Proje Adı">
                                </fieldset>
                            </div>
                            <div class="col-sm-4">
                                <fieldset class="form-group" disabled>
                                    <label for="formGroupExampleInput">
                                        Süreci oluşturan
                                    </label>
                                    <input type="text" class="form-control" id="sureciOlusturan" placeholder="Süreci oluşturan">
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">
                                        Planlanan başlangıç
                                    </label>
                                    <input type="date" class="form-control" id="planlananBaslangic">
                                </fieldset>
                            </div>
                            <div class="col-sm-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">
                                        Planlanan bitiş
                                    </label>
                                    <input type="date" class="form-control" id="planlananBitis">
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">
                                        Süreç tamamlanma
                                    </label>
                                    <progress id="surecTamamlama" class="progress progress-success" style="margin-bottom: 0px;" value="10" max="100"></progress>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <button class="btn btn-success" id="isTakibiCek" >İş Takibi Çek</button>
                    <button class="btn btn-danger" id="isTakibiKaydet">Kaydet</button>
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <form class="form">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Kişi</th>
                                        <th>Başlangıç tarihi</th>
                                        <th>Bitiş tarihi</th>
                                        <th>Tamamlanma tarihi</th>
                                        <th>Tamamlanma oranı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Analiz</th>
                                        <td>
                                            <select class="form-control">
                                                <option id="analizKisi" value="value">text</option>
                                            </select>
                                        </td>
                                        <td><input id="analizBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="analizBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="analizTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="analizTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="35" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Table</th>
                                        <td>
                                            <select class="form-control">
                                                <option id="tableKisi" value="value">text</option>
                                            </select>
                                        </td>
                                        <td><input id="tableBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="tableBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="tableTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="tableTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="70" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Procedure</th>
                                        <td>
                                            <select class="form-control">
                                                <option id="procedureKisi" value="value">text</option>
                                            </select>
                                        </td>
                                        <td><input id="procedureBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="procedureBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="procedureTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="procedureTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="70" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Dll list</th>
                                        <td>
                                            <select class="form-control">
                                                <option id="dllListKisi" value="value">text</option>
                                            </select>
                                        </td>
                                        <td><input id="dllListBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="dllListBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="dllListTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="dllListTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="70" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Dll işlem</th>
                                        <td>
                                            <select class="form-control">
                                                <option id="dllIslemKisi" value="value">text</option>
                                            </select>
                                        </td>
                                        <td><input id="dllIslemBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="dllIslemBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="dllIslemTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="dllIslemTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="70" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Arayüz</th>
                                        <td>
                                            <select class="form-control">
                                                <option id="arayuzKisi" value="value">text</option>
                                            </select>
                                        </td>
                                        <td><input id="arayuzBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="arayuzBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="arayuzTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="arayuzTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="70" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Test</th>
                                        <td>
                                            <select class="form-control">
                                                <option id="testKisi" value="value">text</option>
                                            </select>
                                        </td>
                                        <td><input id="testBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="testBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="testTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="testTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="70" data-range="min"></div></td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
