
@{
    ViewBag.Title = "ProcessEdit";
    string drm;
}

@model IEnumerable<YPYA.Models.Surec>

@section ustBaslik{
    <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" id="proje" projeid="@ViewBag.projeId" href="~/Project/Index/@ViewBag.projeId">
        <span>@ViewBag.projeAdi</span>
    </a>
}

@section pagestyle{
    <style>
        .main-panel > .header {
            color: #fff !important;
            background-color: #f32c1e !important;
        }

        .main-panel > .main-content > .content-view {
            padding: 0px !important;
        }

        .main-process {
            padding: 12px !important;
        }

        .proces {
            padding: 5px 43px !important;
        }

        .sub-process {
            padding: 5px 74px !important;
        }

        .notification-bar-icon {
            width: 1.5rem;
            height: 1.5rem;
        }

        .notification-bar-icon div {
            width: 1.8rem;
            height: 1.8rem;
        }

        .notification-bar-icon i {
            top: 78%;
            width: 1rem;
            height: 1rem;
            left: 78%;
        }

        .main-process .notification-bar-icon i {
            background-color: #7fc35c;
        }

        .proces .notification-bar-icon i {
            background-color: #d26d54;
        }

        .sub-process .notification-bar-icon i {
            background-color: #4cc3f0;
        }

        .content-footer {
            display: none !important;
        }

        .main-content {
            overflow-y: hidden !important;
        }

        tbody tr th {
            padding-top: 24px !important;
        }
    </style>
}

@section menu{
    @Html.Action("ProjectMenu", "Project", new { id = ViewBag.projeId })
}

@section script{
    <!-- page scripts -->
    @*<script src="~/Content/vendor/jquery.ui/ui/core.js"></script>*@
    <script src="~/Content/vendor/jquery.ui/ui/widget.js"></script>
    <script src="~/Content/vendor/jquery.ui/ui/mouse.js"></script>
    <script src="~/Content/vendor/jquery.ui/ui/slider.js"></script>
    <script src="~/Content/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script type="text/javascript">
        $(function () {

            function antixss(deger) {
                if (deger.indexOf("<script>") != -1 || deger.indexOf("</scrip") != -1) return false
                else return true;
            }

            function bosGecme(deger,deger2,deger3) {
                if (deger.length > 0 && deger2.length > 0 && deger3.length > 0) return true;
                else if (deger.length == 0 && deger2.length == 0 && deger3.length == 0) return true;
                else return false;
            }

            function dateKontrol(deger, deger2) {
                var zaman = new Date(deger2);
                var gelenZaman = new Date(deger);
                if (gelenZaman.setHours(0, 0, 0, 0) < zaman.setHours(0, 0, 0, 0)) return false;
                else return true;
            }
            var surecID;
            
            $('.slider').each(function () {
                var data = $(this).data();
                $(this).slider(data);
            });
            $(".app").addClass("expanding");


            $(".surec").click(function () {
                
                $("option#kisi").each(function () {
                    $(this).remove("option#kisi")
                });
                $("input[type=date]").val('');
                $("div.ui-slider-range").css("width", "0");
                $("span.ui-slider-handle").css("left", "0");

                console.log("tıklama");
                var projeID = $("a#proje").attr("projeid");
                surecID = $(this).attr("id");
               
                $("#isTakibiKaydet").attr("surecID", surecID);
                console.log(surecID);
                $.ajax({
                    type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                    url: "/Project/SurecBilgileri",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                    data: { surecID: surecID, projeID: projeID},
                    datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                    success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                        // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.
                        //alert(data);  
                        console.log(data);
                        $("#surecBaslik").val(data.surecBaslik);
                        $("#projeAdi").val(data.projeBaslik);
                        $("#sureciOlusturan").val(data.sureciOlusturan);
                        $("#planlananBaslangic").val(data.surecPlanlananBaslangic);
                        $("#planlananBitis").val(data.surecPlanlananBitis);
                        $("#surecTamamlama").val(data.surecTamamlanma);
                        var kisilerUzunlugu = data.surecDetayKisiler.length;
                        for (var j = 0; j < data.surecDetayKisiler.length; j++) {

                            $("#analizKisi").prepend('<option  id="kisi"kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#tableKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#procedureKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#dllListKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#dllIslemKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#arayuzKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            $("#testKisi").prepend('<option id="kisi" kisiId="' + data.surecDetayKisiler[j].kisiID + '" value="value">' + data.surecDetayKisiler[j].kisi + '</option>');
                            if ((kisilerUzunlugu - 1) == j) {
                                $("#analizKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#tableKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#procedureKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#dllListKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#dllIslemKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#arayuzKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');
                                $("#testKisi").prepend('<option selected="selected"  id="kisi" kisiId="0" value="value"></option>');

                            }
                        }

                        $.ajax({
                            type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                            url: "/Project/IsTakibiBilgileri",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                            data: { surecID: surecID, projeID: projeID },
                            datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                            success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                                // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.
                                console.log(data);


                                for (var i = 0; i < data.length; i++) {

                                    if (data[i].surecDetayRolAdi == "Analiz") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#analizKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#analizBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#analizBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#analizTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("div#analizTamamlanmaOrani div.ui-slider-range").css("width", data[i].surecDetayTamamlanmaOrani);
                                        $("div#analizTamamlanmaOrani span.ui-slider-handle").css("left", data[i].surecDetayTamamlanmaOrani);
                                        $("#analizTamamlanmaOrani").attr("data-value", data[i].surecDetayTamamlanmaOrani);
                                    } else if (data[i].surecDetayRolAdi == "Table") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#tableKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#tableBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#tableBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#tableTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("div#tableTamamlanmaOrani div.ui-slider-range").css("width", data[i].surecDetayTamamlanmaOrani);
                                        $("div#tableTamamlanmaOrani span.ui-slider-handle").css("left", data[i].surecDetayTamamlanmaOrani);
                                        $("#tableTamamlanmaOrani").attr("data-value", data[i].surecDetayTamamlanmaOrani);

                                    } else if (data[i].surecDetayRolAdi == "Procedure") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#procedureKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#procedureBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#procedureBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#procedureTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("div#procedureTamamlanmaOrani div.ui-slider-range").css("width", data[i].surecDetayTamamlanmaOrani);
                                        $("div#procedureTamamlanmaOrani span.ui-slider-handle").css("left", data[i].surecDetayTamamlanmaOrani);
                                        $("#procedureTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);

                                    } else if (data[i].surecDetayRolAdi == "DLL List") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#dllListKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }
                                        //for (var j = 0; j < data[i].surecDetayKisiler.length; j++) {

                                        //}

                                        $("#dllListBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#dllListBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#dllListTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("div#dllListTamamlanmaOrani div.ui-slider-range").css("width", data[i].surecDetayTamamlanmaOrani);
                                        $("div#dllListTamamlanmaOrani span.ui-slider-handle").css("left", data[i].surecDetayTamamlanmaOrani);
                                        $("#dllListTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);

                                    } else if (data[i].surecDetayRolAdi == "DLL Islem") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#dllIslemKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }
                                        //for (var j = 0; j < data[i].surecDetayKisiler.length; j++) {

                                        //}

                                        $("#dllIslemBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#dllIslemBitisTarihi").val(data[i].surecDetayBitis);
                                        $("#dllIslemTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("div#dllIslemTamamlanmaOrani div.ui-slider-range").css("width", data[i].surecDetayTamamlanmaOrani);
                                        $("div#dllIslemTamamlanmaOrani span.ui-slider-handle").css("left", data[i].surecDetayTamamlanmaOrani);
                                        $("#dllIslemTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);

                                    } else if (data[i].surecDetayRolAdi == "Arayüz") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#arayuzKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#arayuzBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#arayuzBitisTarihi").val(data[i].surecDetayBitis);
                                        $("div#arayuzTamamlanmaOrani div.ui-slider-range").css("width", data[i].surecDetayTamamlanmaOrani);
                                        $("div#arayuzTamamlanmaOrani span.ui-slider-handle").css("left", data[i].surecDetayTamamlanmaOrani);
                                        $("#arayuzTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#arayuzTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);

                                    } else if (data[i].surecDetayRolAdi == "Test") {

                                        if (data[i].surecDetayKisiID != null) {
                                            $("#testKisi option#kisi").each(function () {
                                                if ($(this).attr("kisiId") == 0) {
                                                    $(this).removeAttr("selected");
                                                }
                                                if (data[i].surecDetayKisiID == $(this).attr("kisiId")) {
                                                    $(this).attr("selected", "selected");

                                                }
                                            });
                                        }

                                        $("#testBaslangicTarihi").val(data[i].surecDetayBaslangic);
                                        $("#testBitisTarihi").val(data[i].surecDetayBitis);
                                        $("div#testTamamlanmaOrani div.ui-slider-range").css("width", data[i].surecDetayTamamlanmaOrani);
                                        $("div#testTamamlanmaOrani span.ui-slider-handle").css("left", data[i].surecDetayTamamlanmaOrani);
                                        $("#testTamamlanmaTarihi").val(data[i].surecDetayTamamlanma);
                                        $("#testTamamlanmaOrani").val(data[i].surecDetayTamamlanmaOrani);
                                    } else {
                                        alert("deger Gelmedi");
                                    }




                                }
                            }

                        });

                    }

                });

            });

            $("#isTakibiKaydet").click(function () {

                console.log("Tıkladı..");
                var projeID = $("a#proje").attr("projeid");
                

                
                var surecID = $(this).attr("surecID");
                var SurecIstakibi =  {
                    analizKisi: $("#analizKisi option:selected").text(),
                    analizBaslangicTarihi: $("#analizBaslangicTarihi").val(),
                    analizBitisTarihi: $("#analizBitisTarihi").val(),
                    analizTamamlanmaTarihi: $("#analizTamamlanmaTarihi").val(),
                    analizTamamlanmaOrani: $("div#analizTamamlanmaOrani div.ui-slider-range").width(),
                    

                    tableKisi:  $("#tableKisi option:selected").text() ,
                    tableBaslangicTarihi:  $("#tableBaslangicTarihi").val() ,
                    tableBitisTarihi:  $("#tableBitisTarihi").val() ,
                    tableTamamlanmaTarihi: $("#tableTamamlanmaTarihi").val(),
                    tableTamamlanmaOrani: $("div#tableTamamlanmaOrani div.ui-slider-range").width(),
                    

                    procedureKisi:  $("#procedureKisi option:selected").text() ,
                    procedureBaslangicTarihi:  $("#procedureBaslangicTarihi").val() ,
                    procedureBitisTarihi:  $("#procedureBitisTarihi").val() ,
                    procedureTamamlanmaTarihi: $("#procedureTamamlanmaTarihi").val(),
                    procedureTamamlanmaOrani: $("div#procedureTamamlanmaOrani div.ui-slider-range").width(),
                       
                    


                    dllListKisi:  $("#dllListKisi option:selected").text() ,
                    dllListBaslangicTarihi:  $("#dllListBaslangicTarihi").val() ,
                    dllListBitisTarihi:  $("#dllListBitisTarihi").val() ,
                    dllListTamamlanmaTarihi: $("#dllListTamamlanmaTarihi").val(),
                    dllListTamamlanmaOrani:  $("div#dllListTamamlanmaOrani div.ui-slider-range").width(),
                       
                   

                    dllIslemKisi:  $("#dllIslemKisi option:selected").text() ,
                    dllIslemBaslangicTarihi:  $("#dllIslemBaslangicTarihi").val() ,
                    dllIslemBitisTarihi:  $("#dllIslemBitisTarihi").val() ,
                    dllIslemTamamlanmaTarihi: $("#dllIslemTamamlanmaTarihi").val(),
                    dllIslemTamamlanmaOrani:  $("div#dllIslemTamamlanmaOrani div.ui-slider-range").width(),
                       


                    arayuzKisi:  $("#arayuzKisi option:selected").text() ,
                    arayuzBaslangicTarihi:  $("#arayuzBaslangicTarihi").val() ,
                    arayuzBitisTarihi:  $("#arayuzBitisTarihi").val() ,
                    arayuzTamamlanmaTarihi: $("#arayuzTamamlanmaTarihi").val(),   
                    arayuzTamamlanmaOrani: $("div#arayuzTamamlanmaOrani div.ui-slider-range").width(),
                        
                   

                    testKisi:  $("#testKisi option:selected").text() ,
                    testBaslangicTarihi:  $("#testBaslangicTarihi").val() ,
                    testBitisTarihi:  $("#testBitisTarihi").val() ,
                    testTamamlanmaTarihi: $("#testTamamlanmaTarihi").val(),
                    testTamamlanmaOrani: $("div#testTamamlanmaOrani div.ui-slider-range").width(),
                  
                   
                };
               
                console.log(SurecIstakibi)
                $.ajax({
                    type: "POST",//Metodu belirliyoruz POST veya GET olabilir.
                    url: "/Project/IsTakibiKaydet",//Nereye post edileceğini belirliyoruz. Home controller altında "IndexPost" adlı metodumuza gideceğini söyledik
                    data: { istakibiBilgi: SurecIstakibi, surecID: surecID, projeID: projeID },
                    datatype: "json",//Geri dönecek değerin tipini belirliyoruz. xml, json, script, html bunlardan birini belirleyebiliriz.
                    success: function (data) {//Eğer ajax post işlemi başarılı ise çalışacak fonksiyonumuz. function(data) kısmında ise data dönen değerimiz oluyor.
                        // $('#result').html(data);//Burda ise dönen değeri $('#result') divini seçip .html(data) ile içine basıyoruz.
                       

                    }

                });

            });

        });

    </script>
    <!-- end initialize page scripts -->

}

<div class="layout-xs contacts-container">
    <div class="flexbox-xs layout-column-xs contacts-list b-r">
        <div class="contact-header bg-default">
            <div class="contact-toolbar">
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Search" />
                </form>
            </div>
        </div>
        <div class="flex-xs scroll-y">
            <!--Contact list item-->
            @foreach (YPYA.Models.Surec i in Model.Where(x => x.ParentSurecId == null))
            {
                if (i.haveChild == true)
                {
                    drm = "";
                }
                else
                {
                    drm = "surec";
                }
                <a id="@i.Id" href="javascript:;" class="column-equal main-process @drm" data-toggle="contact">
                    <div href="#" class="notification-bar-icon">
                        <div><i></i></div>
                    </div>
                    <div class="col v-align-middle contact-details p-l-1">
                        <span class="bold">@i.Baslik</span>
                        <span class="small">@i.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                    </div>
                </a>
                foreach (YPYA.Models.Surec j in Model.Where(y => y.ParentSurecId == i.Id))
                {
                    if (j.haveChild == true)
                    {
                        drm = "";
                    }
                    else
                    {
                        drm = "surec";
                    }
                    <a id="@j.Id" href="javascript:;" class="column-equal proces @drm" data-toggle="contact">
                        <div href="#" class="notification-bar-icon">
                            <div><i></i></div>
                        </div>
                        <div class="col v-align-middle contact-details p-l-1">
                            <span class="bold">@j.Baslik</span>
                            <span class="small">@j.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                        </div>
                    </a>
                    foreach (YPYA.Models.Surec k in Model.Where(z => z.ParentSurecId == j.Id))
                    {
                        if (k.haveChild == true)
                        {
                            drm = "";
                        }
                        else
                        {
                            drm = "surec";
                        }
                        <a id="@k.Id" href="javascript:;" class="column-equal sub-process @drm" data-toggle="contact">
                            <div href="#" class="notification-bar-icon">
                                <div><i></i></div>
                            </div>
                            <div class="col v-align-middle contact-details p-l-1">
                                <span class="bold">@k.Baslik</span>
                                <span class="small">@k.OlusturmaTarihi.Value.ToString("dd-MM-yyyy")</span>
                            </div>
                        </a>
                    }
                }
            }

        </div>
    </div>
    <div class="flexbox-xs layout-column-xs contact-view">
        <div class="contact-header hidden-lg-up">
            <div class="contact-toolbar">
                <a href="javascript:;" data-toggle="contact">
                    <i class="material-icons visible-xs m-r-1">arrow_back</i>
                </a>
            </div>
        </div>
        <div class="flex-xs scroll-y p-a-1" style="background-color: #f7f0f0;">
            <div class="card">
                <div class="card-block">
                    <form>
                        <div class="row">
                            <div class="col-sm-4">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">
                                        Başlık
                                    </label>
                                    <input type="text" class="form-control" id="surecBaslik" placeholder="Başlığı düzenleyin">
                                </fieldset>
                            </div>
                            <div class="col-sm-4">
                                <fieldset class="form-group" disabled>
                                    <label for="formGroupExampleInput">
                                        Proje Adı
                                    </label>
                                    <input type="text" class="form-control" id="projeAdi" placeholder="Proje Adı">
                                </fieldset>
                            </div>
                            <div class="col-sm-4">
                                <fieldset class="form-group" disabled>
                                    <label for="formGroupExampleInput">
                                        Süreci oluşturan
                                    </label>
                                    <input type="text" class="form-control" id="sureciOlusturan" placeholder="Süreci oluşturan">
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">
                                        Planlanan başlangıç
                                    </label>
                                    <input type="date" class="form-control" id="planlananBaslangic">
                                </fieldset>
                            </div>
                            <div class="col-sm-6">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">
                                        Planlanan bitiş
                                    </label>
                                    <input type="date" class="form-control" id="planlananBitis">
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <fieldset class="form-group">
                                    <label for="formGroupExampleInput">
                                        Süreç tamamlanma
                                    </label>
                                    <progress id="surecTamamlama" class="progress progress-success" style="margin-bottom: 0px;" value="10" max="100"></progress>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    @*<button class="btn btn-success" id="isTakibiCek" >İş Takibi Çek</button>*@
                    <button class="btn btn-danger" id="isTakibiKaydet">Kaydet</button>
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <form class="form">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Kişi</th>
                                        <th>Başlangıç tarihi</th>
                                        <th>Bitiş tarihi</th>
                                        <th>Tamamlanma tarihi</th>
                                        <th>Tamamlanma oranı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Analiz</th>
                                        <td>
                                            <select id="analizKisi"  class="form-control">
                                                @*<option  value="value">text</option>
                                                <option value="value">YSn</option>*@
                                            </select>
                                        </td>
                                        <td><input id="analizBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="analizBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="analizTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="analizTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="0" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Table</th>
                                        <td>
                                            <select id="tableKisi" class="form-control">
                                                @*<option  value="value">text</option>*@
                                            </select>
                                        </td>
                                        <td><input id="tableBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="tableBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="tableTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="tableTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="0" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Procedure</th>
                                        <td>
                                            <select id="procedureKisi" class="form-control">
                                                @*<option  value="value">text</option>*@
                                            </select>
                                        </td>
                                        <td><input id="procedureBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="procedureBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="procedureTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="procedureTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="0" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Dll list</th>
                                        <td>
                                            <select id="dllListKisi" class="form-control">
                                                @*<option  value="value">text</option>*@
                                            </select>
                                        </td>
                                        <td><input id="dllListBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="dllListBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="dllListTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="dllListTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="0" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Dll işlem</th>
                                        <td>
                                            <select id="dllIslemKisi" class="form-control">
                                                @*<option  value="value">text</option>*@
                                            </select>
                                        </td>
                                        <td><input id="dllIslemBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="dllIslemBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="dllIslemTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="dllIslemTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="0" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Arayüz</th>
                                        <td>
                                            <select id="arayuzKisi"  class="form-control">
                                                @*<option value="value">text</option>*@
                                            </select>
                                        </td>
                                        <td><input id="arayuzBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="arayuzBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="arayuzTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="arayuzTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="0" data-range="min"></div></td>
                                    </tr>
                                    <tr>
                                        <th>Test</th>
                                        <td>
                                            <select id="testKisi"  class="form-control">
                                                @*<option value="value">text</option>*@
                                            </select>
                                        </td>
                                        <td><input id="testBaslangicTarihi" class="form-control" type="date" /></td>
                                        <td><input id="testBitisTarihi" class="form-control" type="date" /></td>
                                        <td><input id="testTamamlanmaTarihi" class="form-control" type="date" /></td>
                                        <td><div id="testTamamlanmaOrani" class="slider slider-success" style="margin-top: 20px;" data-value="0" data-range="min"></div></td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
