
@{
    ViewBag.Title = "Anasayfa";
}
@section ustBaslik{
    <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down" href="#">

    </a>
}
@section pagestyle{
    <style>
        .gizle {
            display: none;
        }
    </style>
}

@section menu{
    <li>
        <a href="~/Home/NewProject">
            <i class="material-icons text-brown">add_box</i>
            <span>Yeni proje oluştur</span>
        </a>
    </li>
}

@section script{
    <script type="text/javascript">
        $(function () {
            $("#katil").click(function () {
                var secili = this;
                var projeId = $(secili).attr("projeId");
                var sinifId = $(secili).attr("sinifId");
                $.post("../Home/AcceptProject", { projeId: projeId }, function () {
                    $(".btn" + sinifId).parent().append('<a href="/Project/Index/' + projeId + '" class="btn btn-danger">Projeye Git</a>');
                    $(".btn" + sinifId).remove();
                });
            });
        });
    </script>
}
<h6 style="font-weight:600">Benim oluşturduğum projeler</h6>
<div class="row">
    @foreach (YPYA.Models.Proje i in ViewBag.olusturulan)
    {
        <div class="col-xl-4 col-lg-12">
            <div class="card card-block">
                <a class="btnSil demo5" projeId="@i.Id" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <h4 class="card-title">
                    @i.Baslik
                </h4>
                <p class="card-text projects">
                    <i class="material-icons">group</i> <span>@(i.ProjeKullanicis.Count(x => x.Durum == true) + 1)</span>
                    <i class="material-icons">timelapse</i> <span>@i.Tamamlanan %</span>
                </p>

                @if (i.Surecs.Any())
                {
                    <a href="~/Project/Index/@i.Id" class="btn btn-danger">
                        Projeye Git
                    </a>
                    <a href="~/Home/NewProject/@i.Id" class="btn btn-info">
                        Düzenle
                    </a>
                }
                else
                {
                    <a href="~/Home/NewProject/@i.Id" class="btn btn-success">
                        Oluşturmaya devam et
                    </a>
                }
            </div>
        </div>
    }
    <div class="col-xl-4 col-lg-12">
        <a href="~/Home/NewProject">
            <div class="newproject">
                <div class="card card-block">
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </a>
    </div>
</div>

@{
    string sinif = "";
    if (ViewBag.dahilOlunanSayi == 0)
    {
        sinif = "gizle";
    }
}
<h6 class="@sinif" style="font-weight:600">Dahil olduğum projeler</h6>
<div class="row">
    @foreach (YPYA.Models.ProjeKullanici i in ViewBag.dahilOlunan)
    {
        <div class="col-xl-4 col-lg-12">
            <div id="projKatil" class="card card-block">
                <h4 class="card-title">
                    @i.Proje.Baslik
                </h4>
                <p class="card-text projects">
                    <i class="material-icons">group</i> <span>@(i.Proje.ProjeKullanicis.Count(x => x.Durum == true) + 1)</span>
                    <i class="material-icons">timelapse</i> <span>@i.Proje.Tamamlanan %</span>
                </p>
                @if (i.Durum == true)
                {
                    <a href="~/Project/Index/@i.Proje.Id" class="btn btn-danger">
                        Projeye Git
                    </a>
                }
                else
                {
                    string snf = "btn" + i.Id;

                    <a projeId="@i.Proje.Id" id="katil" sinifId="@i.Id" href="#" class="btn btn-success @snf">
                        Projeye Katıl
                    </a>
                        <a projeId="@i.Proje.Id" href="#" class="btn btn-danger demo11 @snf">
                            Reddet
                        </a>
                }

            </div>
        </div>
    }
</div> 