<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta name="msapplication-tap-highlight" content="no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Milestone">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Milestone">

    <meta name="theme-color" content="#4C7FF0">

    <title>@ViewBag.Title - sPromanto</title>

    <!-- page stylesheets -->
    <link href="~/Content/vendor/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    <!-- end page stylesheets -->

    <!-- build:css({.tmp,app}) styles/app.min.css -->
    <link href="~/Content/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/vendor/pace/themes/blue/pace-theme-minimal.css" rel="stylesheet" />
    <link href="~/Content/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/vendor/animate.css/animate.css" rel="stylesheet" />
    <link href="~/Content/styles/app.css" rel="stylesheet" id="load_styles_before"/>
    <link href="~/Content/styles/app.skins.css" rel="stylesheet" />
    <link href="~/Content/styles/style.css" rel="stylesheet" />
    <link href="~/Content/styles/loaders.css" rel="stylesheet" />

    <!-- endbuild -->
    @RenderSection("pagestyle", required: false)
</head>
<body>
    @{
        YPYA.Models.Kullanici k = ViewBag.k;
    }
    <div class="app fixed-header">
        <!--sidebar panel-->
        <div class="off-canvas-overlay" data-toggle="sidebar"></div>
        <div class="sidebar-panel">
            <div class="brand">
                <!-- toggle offscreen menu -->
                <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen hidden-lg-up">
                    <i class="material-icons">menu</i>
                </a>
                <!-- /toggle offscreen menu -->
                <!-- logo -->
                <a class="brand-logo">
                    <img class="expanding-hidden" src="~/Content/images/slogo.png" alt="" />
                </a>
                <!-- /logo -->
            </div>
            <div class="nav-profile dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="user-image">
                        <img src="~/Content/images/avatar.jpg" class="avatar img-circle" alt="user" title="user" />
                    </div>
                    <div class="user-info expanding-hidden">
                        @k.Adsoyad
                        <small class="bold">@@@k.KullaniciAdi</small>
                    </div>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:;">Settings</a>
                    <a class="dropdown-item" href="javascript:;">Upgrade</a>
                    <a class="dropdown-item" href="javascript:;">
                        <span>Notifications</span>
                        <span class="tag bg-primary">34</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;">Help</a>
                    <a class="dropdown-item" href="">Logout</a>
                </div>
            </div>
            <!-- main navigation -->
            <nav>
                <p class="nav-title">NAVIGATION</p>
                <ul class="nav">
                    <!-- dashboard -->
                    <li>
                        <a href="~/Home/Index">
                            <i class="material-icons text-primary">home</i>
                            <span>Anasayfa</span>
                        </a>
                    </li>
                    <!-- /dashboard -->
                    @RenderSection("menu",required:false)
                    <!-- apps -->
                    <li>
                        <a href="javascript:;">
                            <span class="menu-caret">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                            <i class="material-icons text-success">font_download</i>
                            <span class="badge bg-primary pull-right">08</span>
                            <span>Apps</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="app-calendar.html">
                                    <span>Calendar</span>
                                </a>
                            </li>
                            <li>
                                <a href="app-media.html">
                                    <span>Media</span>
                                </a>
                            </li>
                            <li>
                                <a href="app-messages.html">
                                    <span>Messages</span>
                                </a>
                            </li>
                            <li>
                                <a href="app-social.html">
                                    <span>Social</span>
                                </a>
                            </li>
                            <li>
                                <a href="app-people.html">
                                    <span>People</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /apps -->
                    <!-- ui -->
                    <li>
                        <a href="javascript:;">
                            <span class="menu-caret">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                            <i class="material-icons text-danger">explore</i>
                            <span>Components</span>
                        </a>
                        <ul class="sub-menu">
                            <!-- cards -->
                            <li>
                                <a href="javascript:;">
                                    <span class="menu-caret">
                                        <i class="material-icons">arrow_drop_down</i>
                                    </span>
                                    <span>Cards</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="card-basic.html">
                                            <span>Basic</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="card-portlets.html">
                                            <span>Portlets</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="card-draggable.html">
                                            <span>Draggable</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- /cards -->
                            <!-- forms -->
                            <li>
                                <a href="javascript:;">
                                    <span class="menu-caret">
                                        <i class="material-icons">arrow_drop_down</i>
                                    </span>
                                    <span>Forms</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="form-basic.html">
                                            <span>Basic</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form-plugins.html">
                                            <span>Plugins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form-editors.html">
                                            <span>Editors</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form-validation.html">
                                            <span>Validation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form-masks.html">
                                            <span>Masks</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form-upload.html">
                                            <span>Upload</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="form-wizard.html">
                                            <span>Wizard</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- /forms -->
                            <!-- tables -->
                            <li>
                                <a href="javascript:;">
                                    <span class="menu-caret">
                                        <i class="material-icons">arrow_drop_down</i>
                                    </span>
                                    <span>Tables</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="table-basic.html">
                                            <span>Basic</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table-responsive.html">
                                            <span>Responsive</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table-datatables.html">
                                            <span>Datatables</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="table-xeditable.html">
                                            <span>xeditable</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- /tables -->
                            <li>
                                <a href="ui-buttons.html">
                                    <span>Buttons</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-social-buttons.html">
                                    <span>Social buttons</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-general.html">
                                    <span>General</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-navs.html">
                                    <span>Navs</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-progressbars.html">
                                    <span>Progress bars</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-pagination.html">
                                    <span>Pagination</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-sliders.html">
                                    <span>Sliders</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-notifications.html">
                                    <span>Notifications</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-spinners.html">
                                    <span>Spinners</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-alerts.html">
                                    <span>Alerts</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-palette.html">
                                    <span>Palette</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-material.html">
                                    <span>Material icons</span>
                                </a>
                            </li>
                            <li>
                                <a href="ui-fontawesome.html">
                                    <span>Fontawesome</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /ui -->
                    <!-- charts -->
                    <li>
                        <a href="javascript:;">
                            <span class="menu-caret">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                            <i class="material-icons text-warning">assessment</i>
                            <span>Charts</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="chart-flot.html">
                                    <span>Flot</span>
                                </a>
                            </li>
                            <li>
                                <a href="chart-easypie.html">
                                    <span>Easypie</span>
                                </a>
                            </li>
                            <li>
                                <a href="chart-chartjs.html">
                                    <span>ChartJS</span>
                                </a>
                            </li>
                            <li>
                                <a href="chart-rickshaw.html">
                                    <span>Rickshaw</span>
                                </a>
                            </li>
                            <li>
                                <a href="chart-c3.html">
                                    <span>C3js</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /charts -->
                </ul>
                <p class="nav-title">BONUS</p>
                <ul class="nav">
                    <!-- maps -->
                    <li>
                        <a href="javascript:;">
                            <span class="menu-caret">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                            <i class="material-icons">beenhere</i>
                            <span>Maps</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="map-google.html">
                                    <span>Google</span>
                                </a>
                            </li>
                            <li>
                                <a href="map-googlefull.html">
                                    <span>Google fullscreen</span>
                                </a>
                            </li>
                            <li>
                                <a href="map-vector.html">
                                    <span>Vector</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /maps -->
                    <!-- extras -->
                    <li>
                        <a href="javascript:;">
                            <span class="menu-caret">
                                <i class="material-icons">arrow_drop_down</i>
                            </span>
                            <span class="badge bg-danger pull-right">HOT</span>
                            <i class="material-icons">stars</i>
                            <span>Extras</span>
                        </a>
                        <ul class="sub-menu">
                            <!-- emails -->
                            <li>
                                <a href="javascript:;">
                                    <span class="menu-caret">
                                        <i class="material-icons">arrow_drop_down</i>
                                    </span>
                                    <span>Transactional Emails</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="http://milestone.nyasha.me/latest/emails/action.html" target="_blank">
                                            <span>Action</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://milestone.nyasha.me/latest/emails/alert.html" target="_blank">
                                            <span>Alert</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://milestone.nyasha.me/latest/emails/billing.html" target="_blank">
                                            <span>Billing</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://milestone.nyasha.me/latest/emails/progress.html" target="_blank">
                                            <span>Progress</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://milestone.nyasha.me/latest/emails/survey.html" target="_blank">
                                            <span>Survey</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://milestone.nyasha.me/latest/emails/welcome.html" target="_blank">
                                            <span>Welcome</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- /emails -->
                            <li>
                                <a href="extra-invoice.html">
                                    <span>Invoice</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-timeline.html">
                                    <span>Timeline</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-lists.html">
                                    <span>Lists</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-signin.html">
                                    <span>Signin</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-signup.html">
                                    <span>Signup</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-forgot.html">
                                    <span>Forgot</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-lockscreen.html">
                                    <span>Lockscreen</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-404.html">
                                    <span>404</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-500.html">
                                    <span>500</span>
                                </a>
                            </li>
                            <li>
                                <a href="extra-pricing.html">
                                    <span>Pricing tables</span>
                                </a>
                            </li>
                            <li>
                                <a href="blank.html">
                                    <span>Starter page</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /extras -->
                    
                    <li><hr /></li>
                    <!-- static -->
                    <li>
                        <a href="http://milestone.nyasha.me/latest/angular" target="_blank">
                            <i class="material-icons">navigation</i>
                            <span>Angular version</span>
                        </a>
                    </li>
                    <!-- /static -->
                    <!-- documentation -->
                    <li>
                        <a href="http://milestone.nyasha.me/latest/documentation" target="_blank">
                            <i class="material-icons">local_library</i>
                            <span>Documentation</span>
                        </a>
                    </li>
                    <!-- /documentation -->
                </ul>
            </nav>
            <!-- /main navigation -->
        </div>
        <!-- /sidebar panel -->
        <!-- content panel -->
        <div class="main-panel">
            <!-- top header -->
            <nav class="header navbar">
                <div class="header-inner">
                    <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
                        <!-- toggle offscreen menu -->
                        <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                            <i class="material-icons">menu</i>
                        </a>
                        <!-- /toggle offscreen menu -->
                        <!-- logo -->
                        <a class="brand-logo hidden-xs-down">
                            <img src="~/Content/images/slogo_white.png" alt="logo" />
                        </a>
                        <!-- /logo -->
                    </div>
                   
                        @RenderSection("ustBaslik",required:false)

                    <div class="navbar-search navbar-item">
                        <form class="search-form">
                            <i class="material-icons">search</i>
                            <input class="form-control" type="text" placeholder="Arama yap" />
                        </form>
                    </div>
                    <div class="navbar-item nav navbar-nav">
                        <div class="nav-item nav-link dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Türkçe</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:;">Türkçe</a>
                                <a class="dropdown-item" href="javascript:;">English</a>
                            </div>
                        </div>
                        <div class="nav-item nav-link dropdown">
                            <a href="javascript:;" id="bildirimOku" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">notifications</i>
                                <span class="tag tag-danger" id="bldCount"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right notifications">
                                <div class="dropdown-item">
                                    <div class="notifications-wrapper">
                                        <ul class="notifications-list" id="bld">
                                           
                                        </ul>
                                    </div>
                                    <div class="notification-footer">Bildirimler</div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:;" class="nav-item nav-link nav-link-icon" data-toggle="modal" data-target=".chat-panel" data-backdrop="false">
                            <i class="material-icons">chat_bubble</i>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- /top header -->
            <!-- main area -->
            <div class="main-content">
                <div class="content-view">
                    @RenderBody()
                </div>
                <!-- bottom footer -->
                <div class="content-footer">
                    <nav class="footer-right">
                        <ul class="nav">
                            <li>
                                <a href="javascript:;">Feedback</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="footer-left">
                        <ul class="nav">
                            <li>
                                <a href="javascript:;">
                                    <span>Copyright</span>
                                    &copy; 2016 Your App
                                </a>
                            </li>
                            <li class="hidden-md-down">
                                <a href="javascript:;">Privacy</a>
                            </li>
                            <li class="hidden-md-down">
                                <a href="javascript:;">Terms</a>
                            </li>
                            <li class="hidden-md-down">
                                <a href="javascript:;">help</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /bottom footer -->
            </div>
            <!-- /main area -->
        </div>
        <!-- /content panel -->
        <!--Chat panel-->
        <div class="modal fade sidebar-modal chat-panel" tabindex="-1" role="dialog" aria-labelledby="chat-panel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="chat-header">
                        <a class="pull-right" href="javascript:;" data-dismiss="modal">
                            <i class="material-icons">close</i>
                        </a>
                        <div class="chat-header-title">People</div>
                    </div>
                    <div class="modal-body flex scroll-y">
                        <div class="chat-group">
                            <div class="chat-group-header">Favourites</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Catherine Moreno</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Denise Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Charles Wilson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Melissa Welch</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-no-disturb"></span>
                                <span>Vincent Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Pamela Wood</span>
                            </a>
                        </div>
                        <div class="chat-group">
                            <div class="chat-group-header">Online</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Tammy Carpenter</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Emma Sullivan</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-no-disturb"></span>
                                <span>Andrea Brewer</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Betty Simmons</span>
                            </a>
                        </div>
                        <div class="chat-group">
                            <div class="chat-group-header">Other</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Denise Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jose Rivera</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Diana Robertson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>William Fields</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Emily Stanley</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jack Hunt</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Sharon Rice</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Mary Holland</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Diane Hughes</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Steven Smith</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Emily Henderson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Wayne Kelly</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jane Garcia</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jose Jimenez</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Rachel Burton</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Samantha Ruiz</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade chat-message" tabindex="-1" role="dialog" aria-labelledby="chat-message" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="chat-header">
                        <div class="pull-right dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="javascript:;">Profile</a>
                                <a class="dropdown-item" href="javascript:;">Clear messages</a>
                                <a class="dropdown-item" href="javascript:;">Delete conversation</a>
                                <a class="dropdown-item" href="javascript:;" data-dismiss="modal">Close chat</a>
                            </div>
                        </div>
                        <div class="chat-conversation-title">
                            <img src="~/Content/images/face1.jpg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                            <div class="overflow-hidden">
                                <span><strong>Charles Wilson</strong></span>
                                <small>Last seen today at 03:11</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body flex scroll-y">
                        <p class="text-xs-center text-muted small text-uppercase bold m-b-1">Yesterday</p>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Hey.</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>How are the wife and kids, Taylor?</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user me">
                            <div class="chat-conversation-message">
                                <p>Pretty good, Samuel.</p>
                            </div>
                        </div>
                        <p class="text-xs-center text-muted small text-uppercase bold m-b-1">Today</p>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Curabitur blandit tempus porttitor.</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user me">
                            <div class="chat-conversation-message">
                                <p>Goodnight!</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat-conversation-footer">
                        <button class="chat-left">
                            <i class="material-icons">face</i>
                        </button>
                        <div class="chat-input" contenteditable=""></div>
                        <button class="chat-right">
                            <i class="material-icons">photo</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--/Chat panel-->

    </div>
    <script type="text/javascript">
        window.paceOptions = {
            document: true,
            eventLag: true,
            restartOnPushState: true,
            restartOnRequestAfter: true,
            ajax: {
                trackMethods: ['POST', 'GET']
            }
        };
    </script>

    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    <script src="~/Content/vendor/jquery/dist/jquery.js"></script>
    <script src="~/Content/vendor/pace/pace.js"></script>
    <script src="~/Content/vendor/tether/dist/js/tether.js"></script>
    <script src="~/Content/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/vendor/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/scripts/constants.js"></script>
    <script src="~/Content/scripts/main.js"></script>
    <script src="~/Content/vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="~/Content/scripts/noty-defaults.js"></script>
    <!-- endbuild -->
    <!-- page scripts -->
    <script src="~/Content/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script src="~/Content/scripts/ui/alert.js"></script>
    @RenderSection("script", required: false)
    <script>
        $(function () {
            function BildirimCek() {
                $.post("../Home/BildirimCek", function (data) {
                    $("#bldCount").html(data.toplam);

                    $.each(data.icerikler, function (i) {
                        $("#bld").append('<li><a href="../' + data.icerikler[i].link + '"><div class="notification-message"><span id="bldIcerik">' + data.icerikler[i].icerik + '</span><span class="time" id="bldTime">' + data.icerikler[i].tarih + '</span></div> </a></li>');
                    });
                });
            }

            BildirimCek();

            var otomatik_yenile = setInterval(function () {
                BildirimCek();
            }, 60000);

            $("#bildirimOku").click(function () {
                $.post("../Home/BildirimOku", function () {
                    $("#bldCount").html(0);
                });
            });
        });
    </script>
    <!-- end initialize page scripts -->

</body>
</html>
