<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta name="msapplication-tap-highlight" content="no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Milestone">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Milestone">

    <meta name="theme-color" content="#4C7FF0">

    <title>@ViewBag.Title - sPromanto</title>

    <!-- page stylesheets -->
    <link href="~/Content/vendor/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    @RenderSection("stylesheet",required:false)
    <!-- end page stylesheets -->

    <!-- build:css({.tmp,app}) styles/app.min.css -->
    <link href="~/Content/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/vendor/pace/themes/blue/pace-theme-minimal.css" rel="stylesheet" />
    <link href="~/Content/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/vendor/animate.css/animate.css" rel="stylesheet" />
    <link href="~/Content/styles/app.css" rel="stylesheet" id="load_styles_before"/>
    <link href="~/Content/styles/app.skins.css" rel="stylesheet" />
    <link href="~/Content/styles/style.css" rel="stylesheet" />
    <link href="~/Content/styles/loaders.css" rel="stylesheet" />

    <!-- endbuild -->
    @RenderSection("pagestyle", required: false)
</head>
<body>
    @{
        YPYA.Models.Kullanici k = ViewBag.k;
    }
    <div class="app fixed-header">
        <!--sidebar panel-->
        <div class="off-canvas-overlay" data-toggle="sidebar"></div>
        <div class="sidebar-panel">
            <div class="brand">
                <!-- toggle offscreen menu -->
                <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen hidden-lg-up">
                    <i class="material-icons">menu</i>
                </a>
                <!-- /toggle offscreen menu -->
                <!-- logo -->
                <a class="brand-logo">
                    <img class="expanding-hidden" src="~/Content/images/slogo.png" alt="" />
                </a>
                <!-- /logo -->
            </div>
            <div class="nav-profile dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="user-image">
                        <img src="~/Content/images/avatar.jpg" class="avatar img-circle" alt="user" title="user" />
                    </div>
                    <div class="user-info expanding-hidden">
                        @k.Adsoyad
                        <small class="bold">@@@k.KullaniciAdi</small>
                    </div>
                </a>
                <div class="dropdown-menu">
                    @*<a class="dropdown-item" href="javascript:;">Settings</a>
                    <a class="dropdown-item" href="javascript:;">Upgrade</a>
                    <a class="dropdown-item" href="javascript:;">
                        <span>Notifications</span>
                        <span class="tag bg-primary">34</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;">Help</a>*@
                    <a class="dropdown-item" href="#" id="cikisYap">Çıkış Yap</a>
                </div>
            </div>
            <!-- main navigation -->
            <nav>
                <p class="nav-title">Menü</p>
                <ul class="nav">
                    <!-- dashboard -->
                    <li>
                        <a href="~/Home/Index">
                            <i class="material-icons text-primary">home</i>
                            <span>Anasayfa</span>
                        </a>
                    </li>
                    <!-- /dashboard -->
                    @RenderSection("menu",required:false)
                    
                   
                </ul>
            </nav>
            <!-- /main navigation -->
        </div>
        <!-- /sidebar panel -->
        <!-- content panel -->
        <div class="main-panel">
            <!-- top header -->
            <nav class="header navbar">
                <div class="header-inner">
                    <div class="navbar-item navbar-spacer-right brand hidden-lg-up">
                        <!-- toggle offscreen menu -->
                        <a href="javascript:;" data-toggle="sidebar" class="toggle-offscreen">
                            <i class="material-icons">menu</i>
                        </a>
                        <!-- /toggle offscreen menu -->
                        <!-- logo -->
                        <a class="brand-logo hidden-xs-down">
                            <img src="~/Content/images/slogo_white.png" alt="logo" />
                        </a>
                        <!-- /logo -->
                    </div>
                   
                        @RenderSection("ustBaslik",required:false)

                    @*<div class="navbar-search navbar-item">
                        <form class="search-form">
                            <i class="material-icons">search</i>
                            <input class="form-control" type="text" placeholder="Arama yap" />
                        </form>
                    </div>*@
                    <div class="navbar-item nav navbar-nav">
                        <div class="nav-item nav-link dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Türkçe</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="javascript:;">Türkçe</a>
                                @*<a class="dropdown-item" href="javascript:;">English</a>*@
                            </div>
                        </div>
                        <div class="nav-item nav-link dropdown">
                            <a href="javascript:;" id="bildirimOku" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">notifications</i>
                                <span class="tag tag-danger" id="bldCount"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right notifications">
                                <div class="dropdown-item">
                                    <div class="notifications-wrapper">
                                        <ul class="notifications-list" id="bld">
                                           
                                        </ul>
                                    </div>
                                    <div class="notification-footer">Bildirimler</div>
                                </div>
                            </div>
                        </div>
                        @*<a href="javascript:;" class="nav-item nav-link nav-link-icon" data-toggle="modal" data-target=".chat-panel" data-backdrop="false">
                            <i class="material-icons">chat_bubble</i>
                        </a>*@
                    </div>
                </div>
            </nav>
            <!-- /top header -->
            <!-- main area -->
            <div class="main-content">
                <div class="content-view">
                    @RenderBody()
                </div>
                <!-- bottom footer -->
                <div class="content-footer">
                    @*<nav class="footer-right">
                        <ul class="nav">
                            <li>
                                <a href="javascript:;">Feedback</a>
                            </li>
                        </ul>
                    </nav>*@
                    <nav class="footer-left">
                        <ul class="nav">
                            <li>
                                <a href="javascript:;">
                                    <span>Copyright</span>
                                    &copy; 2016 EYAS
                                </a>
                            </li>
                            @*<li class="hidden-md-down">
                                <a href="javascript:;">Privacy</a>
                            </li>
                            <li class="hidden-md-down">
                                <a href="javascript:;">Terms</a>
                            </li>
                            <li class="hidden-md-down">
                                <a href="javascript:;">help</a>
                            </li>*@
                        </ul>
                    </nav>
                </div>
                <!-- /bottom footer -->
            </div>
            <!-- /main area -->
        </div>
        <!-- /content panel -->
        <!--Chat panel-->
        <div class="modal fade sidebar-modal chat-panel" tabindex="-1" role="dialog" aria-labelledby="chat-panel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="chat-header">
                        <a class="pull-right" href="javascript:;" data-dismiss="modal">
                            <i class="material-icons">close</i>
                        </a>
                        <div class="chat-header-title">People</div>
                    </div>
                    <div class="modal-body flex scroll-y">
                        <div class="chat-group">
                            <div class="chat-group-header">Favourites</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Catherine Moreno</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Denise Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Charles Wilson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Melissa Welch</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-no-disturb"></span>
                                <span>Vincent Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Pamela Wood</span>
                            </a>
                        </div>
                        <div class="chat-group">
                            <div class="chat-group-header">Online</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Tammy Carpenter</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-away"></span>
                                <span>Emma Sullivan</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-no-disturb"></span>
                                <span>Andrea Brewer</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-online"></span>
                                <span>Betty Simmons</span>
                            </a>
                        </div>
                        <div class="chat-group">
                            <div class="chat-group-header">Other</div>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Denise Peterson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jose Rivera</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Diana Robertson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>William Fields</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Emily Stanley</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jack Hunt</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Sharon Rice</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Mary Holland</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Diane Hughes</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Steven Smith</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Emily Henderson</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Wayne Kelly</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jane Garcia</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Jose Jimenez</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Rachel Burton</span>
                            </a>
                            <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                <span class="status-offline"></span>
                                <span>Samantha Ruiz</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade chat-message" tabindex="-1" role="dialog" aria-labelledby="chat-message" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="chat-header">
                        <div class="pull-right dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="javascript:;">Profile</a>
                                <a class="dropdown-item" href="javascript:;">Clear messages</a>
                                <a class="dropdown-item" href="javascript:;">Delete conversation</a>
                                <a class="dropdown-item" href="javascript:;" data-dismiss="modal">Close chat</a>
                            </div>
                        </div>
                        <div class="chat-conversation-title">
                            <img src="~/Content/images/face1.jpg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                            <div class="overflow-hidden">
                                <span><strong>Charles Wilson</strong></span>
                                <small>Last seen today at 03:11</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body flex scroll-y">
                        <p class="text-xs-center text-muted small text-uppercase bold m-b-1">Yesterday</p>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Hey.</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>How are the wife and kids, Taylor?</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user me">
                            <div class="chat-conversation-message">
                                <p>Pretty good, Samuel.</p>
                            </div>
                        </div>
                        <p class="text-xs-center text-muted small text-uppercase bold m-b-1">Today</p>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Curabitur blandit tempus porttitor.</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user me">
                            <div class="chat-conversation-message">
                                <p>Goodnight!</p>
                            </div>
                        </div>
                        <div class="chat-conversation-user them">
                            <div class="chat-conversation-message">
                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="chat-conversation-footer">
                        <button class="chat-left">
                            <i class="material-icons">face</i>
                        </button>
                        <div class="chat-input" contenteditable=""></div>
                        <button class="chat-right">
                            <i class="material-icons">photo</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--/Chat panel-->

    </div>
    <script type="text/javascript">
        window.paceOptions = {
            document: true,
            eventLag: true,
            restartOnPushState: true,
            restartOnRequestAfter: true,
            ajax: {
                trackMethods: ['POST', 'GET']
            }
        };
    </script>

    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    <script src="~/Content/vendor/jquery/dist/jquery.js"></script>
    <script src="~/Content/vendor/pace/pace.js"></script>
    <script src="~/Content/vendor/tether/dist/js/tether.js"></script>
    <script src="~/Content/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/vendor/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/scripts/constants.js"></script>
    <script src="~/Content/scripts/main.js"></script>
    <script src="~/Content/vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
    <script src="~/Content/scripts/noty-defaults.js"></script>
    <!-- endbuild -->
    <!-- page scripts -->
    <script src="~/Content/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script src="~/Content/scripts/ui/alert.js"></script>
    @RenderSection("script", required: false)
    <script>
        $(function () {
            function BildirimCek() {
                $.post('@Url.Action("BildirimCek", "Home")', function (data) {
                    $("#bldCount").html(data.toplam);

                    $.each(data.icerikler, function (i) {
                        $("#bld").append('<li><a href="../' + data.icerikler[i].link + '"><div class="notification-message"><span id="bldIcerik">' + data.icerikler[i].icerik + '</span><span class="time" id="bldTime">' + data.icerikler[i].tarih + '</span></div> </a></li>');
                    });
                });
            }

            BildirimCek();

            var otomatik_yenile = setInterval(function () {
                BildirimCek();
            }, 60000);

            $("#bildirimOku").click(function () {
                $.post('@Url.Action("BildirimOku", "Home")', function () {
                    $("#bldCount").html(0);
                });
            });

            $("#cikisYap").click(function () {
                $.post('@Url.Action("CikisYap", "Sign")', function (data) {
                    if (data == 1) {
                        location.href = '@Url.Action("Login", "Sign")';
                    }
                });
            });
        });
    </script>
    <!-- end initialize page scripts -->

</body>
</html>
